
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <body class="body1"> -->
<section class="home">
  <!-- <img src="assets/images/bg.jpg" /> -->
  <!-- <img src="assets/images app/bg8.jpg"> -->
  <div class="homecontent">

    <h1 style="color: rgb(15, 2, 2); font-family: 'PT Serif', serif; font-size: 50px;">Organize your<br><br>
      work and life, finally.</h1>
    <p style="color: rgb(15, 2, 2); font-family: 'PT Serif', serif; font-size: 20px;">Become focused, organized, and calm with Todoist.</p>  
    <!-- <h1 style="color: rgb(211, 70, 70);font-family: 'PT Serif', serif;">Work and Schedule</h1> -->
    <a routerLink="/login" class="btn btn-success">Let's Start</a>
    <!-- <p>"Get Start To Organise Everything"</p> -->

    
  </div>

</section>



<footer id="sticky-footer" class=" py-3  text-white-50" style="background-color:rgb(130, 189, 236);">
  <div class="container text-center">

    <small>Copyright &copy; ToDo</small>
    <small style="margin-left: 5px;">@Since 2022</small>
    <small style="margin-left: 5px; color:black"><a routerLink="/contactUs">Contact us</a></small>
    <small style="margin-left: 5px; color:black"><a routerLink="/aboutUs">About us</a></small>
    <br>
    <div class=" footer-icon stickyicon-list">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-pinterest"></a>
      <a href="#" class="fa fa-linkedin"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-youtube"></a>
    </div>
  </div>
</footer> -->

